@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 1.5rem;
}

h1{
    padding-top: 2rem;
    color:green;
}
main{
    margin: 1rem;
    color: #a52a90;
    font-weight: 500;
}
#error-message{
    font-size: 2rem;
    color:black;
    font-weight: 700;
    text-shadow: 1px 1px red;

}

.cashGivenInput{
    display: none;
}
.changeReturn{
    display: none;
}

label{
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 650;
    text-align: center;
    color:brown;
    padding-top: 0.5rem;
    font-size: 2rem;
}

input{
    display: block;
    margin:auto;
    width: 20.3rem;
    margin-top: 0.2rem;
    padding: 1rem;
    font-size:large;
    border-radius: 14px;
}

button{
    font-size: 1.5rem;
    background-color: blueviolet;
    color: aliceblue;
    margin:auto;
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border:blueviolet;
    border-radius: 14px;

}

table{
    padding: 0.6rem;
    margin: auto;
}


.caption{
    padding-top: 0.6rem;
    font-size: 2.3rem;
    color:#a52a90;  
    font-weight: 600;
    text-shadow:2px 1px #a6eb1d; 
}

/* .rows{
    display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 10px;  
  grid-gap: 8px;
  background-color: aqua;
  color: black;
}

.rows>th{
    background-color: rgba(255, 255, 255, 0.8);
  padding: 1.2rem;
  text-align: center;
  font-size: larger;
  
}

.rows>td{
 background-color: rgba(255, 255, 255, 0.8);  
  padding: 1.2rem;
  text-align: center;
  font-size: larger;
  
} */

#output{
    margin: 1rem 0;    
}

#output table, th, td{
    padding: 0.2rem;
    color:#5B21B6;
    background-color:#6EE7B7;
    border: 2px solid #F472B6;
    border-collapse: collapse;
    max-width: 680px;
}
.no-of-notes{
    background-color:white;
    font-weight: bolder;
    font-size: larger;
}

table{
    width: 100%;
    table-layout: fixed;
}

th,td{
    word-wrap: break-word;
}

footer{
    text-align: center;
    background-color:#6B7280;  
    margin-top: 5rem;

}

article{
    font-size: 2rem;
    color:white;
    font-family: 'Merienda', cursive;
    padding: 0.8rem;
}

img{
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
    box-shadow:0px 0px 10px 0px black;
}

img:hover{
    background-color: blue;
}

@media (min-width: 768px) and (max-width: 1199.98px){
    body {
      background-color: lightpink;
    }
  }