@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 1.5rem;
}

h1{
    padding-top: 2rem;
    color:green;
}

p{
    font-size: 1.3rem;
    color: black;
}

.cash-given{
    display: none;
}
.change-return{
    display: none;
}

label{
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 650;
    text-align: center;
    color:brown;
    padding-top: 1rem;
    font-size: 2rem;
}

input{
    display: block;
    margin:auto;
    width: 20.3rem;
    margin-top: 0.2rem;
    padding: 1rem;
    font-size:large;
    border-radius: 14px;
}

button{
    font-size: 1.5rem;
    background-color: blueviolet;
    color: aliceblue;
    margin:auto;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

table{
    padding: 2rem;
    margin: auto;
}


.caption{
    padding-top: 1rem;
    font-size: 2rem;
    
}

.rows{
    display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 10px;  
  grid-gap: 8px;
  background-color: aqua;
  color: black;
}

.rows>th{
    background-color: rgba(255, 255, 255, 0.8);
  padding: 1.2rem;
  text-align: center;
  font-size: larger;
  
}

.rows>td{
 background-color: rgba(255, 255, 255, 0.8);  
  padding: 1.2rem;
  text-align: center;
  font-size: larger;
  
}

footer{
    text-align: center;
    background-color:#6B7280;  
    margin-top: 10rem;

}

article{
    font-size: 2rem;
    color:white;
    font-family: 'Merienda', cursive;
    padding: 0.8rem;
}

img{
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
    box-shadow:0px 0px 10px 0px black;
}

img:hover{
    background-color: blue;
}

@media (min-width: 768px) and (max-width: 1199.98px){
    body {
      background-color: lightpink;
    }
  }